@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

$large-header: 46px;
$feature-detail-text: 18px;
$border-style: 1px solid $border-color;
$brand-features-height: 590px;

.landing-container {
  .tab-select,
  .tab-item,
  .tab-ruler {
    display: none;
  }
}

.page-head-container,
.comparison-table,
.start-trial,
.case-studies,
.page-foot-container {
  margin-top: 80px;
}

.page-head-container,
.page-foot-container {
  h1 {
    font-size: $large-header;
  }

  h4 {
    font-size: 20px;
  }
}

.comparison-table .brand-title,
.brand-features .feature-name,
.brand-features .divider,
.case-studies .case-study-card .overlay,
.cta-btn-container {
  display: flex;
}

.comparison-table .brand-title,
.cta-btn-container {
  align-items: center;
  justify-content: center;
}

.comparison-table {
  border-top: $border-style;
  border-bottom: $border-style;

  .col-md-4 {
    padding: 0;
    border-right: $border-style;

    &:last-child {
      border: 0;
    }
  }

  .brand-title {
    padding: 10px 0;
    border-bottom: $border-style;

    svg {
      top: 0;
      max-height: 40px;
    }
  }

  .brand-features {
    height: $brand-features-height;
    padding: 15px;
    margin-bottom: 0;

    .paid-feature,
    .free-feature {
      margin-top: 15px;
      padding: 10px;

      &:first-child {
        margin-top: 0;
      }
    }

    .paid-feature {
      background: $color-gray-extra-light-alt;
      border-radius: 3px;

      .feature-cost {
        font-weight: 700;
        font-size: $feature-detail-text;
      }
    }

    .feature-name {
      align-items: flex-start;
      justify-content: flex-start;
      font-size: $feature-detail-text;

      &.logo-has-title svg {
        width: auto;
      }
    }
  }

  .brand-footer {
    padding: 0 15px;

    .total-cost {
      font-size: $feature-detail-text;
      padding: 30px 15px;
      border-top: $border-style;

      .pull-left {
        width: 80%;
      }

      .pull-right {
        width: 20%;
        font-weight: 700;
      }
    }
  }

  .brand-grand-total {
    display: none;
    margin-top: 30px;
    background-color: $color-white;

    h1 {
      margin: 0;

      &.grand-total {
        margin-top: 20px;
        font-size: $large-header;
      }
    }
  }

  .gitlab-col .brand-grand-total .grand-total {
    color: $color-gl-green;
  }

  .github-col .brand-grand-total .grand-total,
  .atlassian-col .brand-grand-total .grand-total {
    color: $color-gl-red;
  }
}

.brand-features {
  .paid-feature,
  .free-feature {
    .feature-name svg {
      height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }

  .free-feature {
    .feature-name svg {
      margin-right: 10px;
    }
  }

  .divider {
    flex-direction: row;
    margin: 30px auto 20px;
    text-align: center;
    line-height: 0;

    span {
      text-transform: uppercase;
      color: $color-gray-features;
      font-size: 1em;

      &.line-before,
      &.line-after {
        width: 50%;
        height: 1px;
        background-color: $border-color;
      }

      &.line-text {
        min-width: 120px;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .landing-container .tab-ruler {
    position: relative;
    display: block;
    margin-top: 80px;
    margin-bottom: 0;
    border-color: $border-color;
  }

  .row.comparison-table {
    margin-top: 0;
    border: 0;

    .col-md-4 {
      width: 100%;
      height: 100%;
      padding: 0 15px;
      background-color: $color-white;
      border: 0;
    }

    .brand-title {
      padding: 0;

      svg {
        display: none;
      }
    }

    .brand-features {
      height: auto;
    }

    .brand-footer .total-cost {
      border-bottom: $border-style;
    }

    .brand-grand-total {
      display: block;
    }
  }

  .final-cost-header,
  .final-cost {
    display: none;
  }

  .landing-container {
    .tab-item {
      display: inline-flex;
      justify-content: space-around;
      width: 33.33%;
      padding: 10px 0;
      margin: 0 -1px;
      cursor: pointer;

      svg {
        max-height: 40px;
      }
    }

    .tab-select + label {
      background-color: $color-white;

      ~ .comparison-table > .col-md-4 {
        display: none;
      }
    }

    .tab-select:checked + label {
      background-color: $color-gray-extra-light-alt;
    }

    .tab-gitlab:checked ~ label ~ .comparison-table .gitlab-col,
    .tab-github:checked ~ label ~ .comparison-table .github-col,
    .tab-atlassian:checked ~ label ~ .comparison-table .atlassian-col {
      display: block;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .comparison-table .brand-features {
    .feature-name,
    .feature-cost {
      font-size: 1.1em;
    }
  }
}

.gitlab-col .free-feature .feature-name svg {
  fill: $point-title-color;
}

.final-cost {
  margin-top: 15px;

  h1 {
    text-align: center;
    margin-top: 10px;
    font-size: $large-header;
  }

  .gitlab-cost,
  .atlassian-cost {
    position: relative;
  }

  .gitlab-cost::after,
  .atlassian-cost::before {
    content: "vs";
    position: absolute;
    top: 17px;
    padding: 7px 10px;
    border-radius: 50%;
    border: $border-style;
    background-color: $color-white;
  }

  .gitlab-cost {
    border-right: $border-style;

    h1 {
      color: $color-gl-green;
    }

    &::after {
      right: -18px;
    }
  }

  .atlassian-cost {
    border-left: $border-style;

    &::before {
      left: -18px;
    }
  }

  .github-cost h1,
  .atlassian-cost h1 {
    color: $color-gl-red;
  }

  @media (max-width: $screen-sm-max) {
    .gitlab-cost,
    .atlassian-cost {
      border: 0;
    }

    .gitlab-cost::after,
    .atlassian-cost::before {
      content: none;
    }
  }
}

.cta-btn-container {
  .btn {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }
}

.case-studies {
  padding: 80px 0;
  border-top: $border-style;
  border-bottom: $border-style;
  background-color: $body-bg;

  h2 {
    padding: 0 15px;
    color: $color-primary;
  }

  .case-study-cards-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    .case-study-card {
      display: block;
      position: relative;
      padding: 5px;
      height: 150px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      .overlay {
        align-items: flex-end;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: linear-gradient(to bottom, $blog-color-image-from, $blog-color-image-to);
      }

      .overlay:hover {
        background-color: $modal-overlay-color;
      }

      h4 {
        color: $color-white;
        font-weight: 700;
        margin: 0;
      }
    }

    @media (max-width: $screen-sm-max) {
      .col-md-4 {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .cta-btn-container {
    margin-top: 30px;
  }
}

.page-foot-container {
  margin-bottom: 80px;
}
