:markdown
  ## Junior

  Junior Developers share the same requirements outlined above, but typically
  join with less or alternate experience in one of the key areas of Developer
  expertise (Ruby on Rails, Git, reviewing code). For example,
  a person with extensive experience in a web framework other than RoR, but with experience
  on the other areas would typically join as a Junior.
